* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  padding: 20px;
  border: 1px solid black;
  border-radius: 16px;
}

.inputs {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 10px;
}

input {
  padding: 15px;
  font-size: 20px;
  border-radius: 16px;
  border: 1px solid black;
}

input:focus {
  outline: none;
  box-shadow: none;
}

button {
  background: none;
  border: 1px solid black;
  padding: 15px 40px;
  font-size: 20px;
  border-radius: 16px;
}

button:hover {
  cursor: pointer;
}

.respostas {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
